<label>
    <input type="radio" ng-model="ctrl.typeDeal" ng-checked="true" value="buy">
    Buy
</label>
<label>
    <input type="radio" ng-model="ctrl.typeDeal" value="let">
    Rent
</label>
<br>
<div>
    <div class="col-md-11" style="padding-left: 0px">
        <input type="text" ng-model="ctrl.city" required/>
    </div>
    <div class="col-md-1">
        <button class="btn btn-toolbar text-right">Favorites</button>
    </div>
</div>
<br>
<button type="submit" class="btn btn-info" ng-click="ctrl.getBuildings()">Go</button>
<br>
<label style="color: red;">{{ctrl.visibleError}}</label>
<br>