
<div class="jumbotron vertical-center">
    <div class="container">
        <label>
            <input type="radio" ng-model="type_deal" ng-checked="true" value="buy">
            Buy
        </label>
        <label>
            <input type="radio" ng-model="type_deal" value="let">
            Rent
        </label>
        <br>

        <input type="text" ng-model="city"/>
        <br>
        <button class="btn btn-info" ng-click="getBuilds()">Go</button>
        <br>
        <br>
        <div>
            History
            <div>
                <div class="list-group" ng-repeat="histObj in historyData track by $index" id="myScrollspy">
                    <a class="list-group-item" href='{{histObj.link}}'>{{histObj.city}} {{histObj.type_deal}}<span class="badge">{{histObj.count}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>